@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSerifCJKsc-Black.ttf) format('truetype');
}







@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-DemiLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansCJKsc-Black.ttf) format('truetype');
}



@font-face {
  font-family: 'Noto Sans Mono SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansMonoCJKsc-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/noto/NotoSansMonoCJKsc-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'xsjcursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/slidetownsoul/SlideTownsoul-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'xsjcursive';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/slidetownsoul/SlideTownsoulfe-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'enxsjcursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontfiles/permanentmarker/PermanentMarker-Regular.ttf) format('truetype');
}
