/**** xsj start ****/
/*svg start*/
text {
  font-size: 14px;
}
/*svg end*/

/* table start*/
.table {
  width: 100%;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-celled.table tr td,
.table-celled.table tr th {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.table-celled.table tr td:first-child,
.table-celled.table tr th:first-child {
  border-left: none;
}
/* table end*/
/*mindmap start*/
.mindmap_container {
  text-align: center;
}
.xsj_mindmap_caption {
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  color: #999;
  padding: 10px;
}
/*mindmap end*/
/*code start*/
.hljs,
.hljs * {
  overflow: visible !important;
}
body .xiaoshujiang_code {
  border: 0;
  border-radius: 4px;
  font-size: 90%;
}
.xiaoshujiang_code ol {
  margin-bottom: 0px;
}
.xiaoshujiang_pre {
  line-height: initial !important;
  word-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
  white-space: pre-wrap;
  font-family: monospace;
}
.xiaoshujiang_code_container pre {
  margin: 0px;
}
.xiaoshujiang_code_container.xiaoshujiang_code_chunk {
  box-shadow: 0 0 0 1px #A3C293 inset,0 0 0 0 transparent;
  margin: 1em 0;
  padding: 1em;
}
.xiaoshujiang_code_container.xiaoshujiang_code_chunk_hide_code {
  box-shadow: initial;
  padding: initial;
  padding-bottom: 2em;
}
.xiaoshujiang_code_container .out_put {
  box-shadow: 0 0 0 1px #A3C293 inset,0 0 0 0 transparent;
  margin: 1em 0;
  background-color: #FCFFF5;
  padding: 1em;
}
.xiaoshujiang_code_container .out_put_error {
  background-color: #FFF6F6;
  color: #9F3A38;
  margin: 1em 0;
  box-shadow: 0 0 0 1px #E0B4B4 inset,0 0 0 0 transparent;
  padding: 1em;
}
/*code end*/
/* code line nums start*/
code.hljs.code_linenums,
.xiaoshujiang_code.hljs.code_linenums {
  position: relative;
}
.ol_linenums {
  padding: 0px;
  margin-left: 2em;
  border-left: 1px solid #e0e0e0;
}
.li_linenum {
  position: relative;
  padding-left: 0.5em;
  list-style: none;
  counter-increment: lines 1;
}
.li_linenum.li_list_style {
  list-style: inherit;
  margin-left: 5px;
}
.li_linenum:before,
.li_linenum_before_span {
  content: counter(lines, decimal);
  position: absolute;
  left: -2.5em;
  text-align: center;
  width: 2.5em;
  vertical-align: top;
}
.li_linenum_before_span_hide {
  display: none;
}
/* code line nums end*/
/* block code start */
.xiaoshujiang_code_container {
  margin: 1em 0px;
  position: relative;
  padding-bottom: 2em;
}
.xiaoshujiang_code_title_container {
  font-size: 70%;
  opacity: 0.5;
}
.xiaoshujiang_code_title_container > .xiaoshujiang_code_infos {
  float: right;
}
/* block code end */
/*mark start*/
.mark {
  border: 0;
  background-color: rgba(221, 243, 231, 0.4);
  color: #29754d;
  padding: 2px 4px;
}
.line_mark {
  background-color: rgba(255, 0, 0, 0.1);
}
.li_linenum.line_mark:before,
.line_mark .li_linenum_before_span {
  background-color: rgba(255, 0, 0, 0.3);
}
code .mark,
.xiaoshujiang_code .mark {
  border-radius: 0px;
  font-size: initial;
  padding: initial;
  background-color: rgba(160, 234, 194, 0.7);
}
/*mark end*/
/* attachment start */
a.attachment {
  background-color: #ecf0f3;
  border: 1px solid #bec6cb;
  display: inline-block;
  padding: 5px;
  margin: 2px;
  min-width: 250px;
}
a.attachment i.fa {
  font-size: 3em;
  float: left;
  margin-right: 0.2em;
}
a.attachment .filename {
  vertical-align: top;
  text-align: left;
  font-weight: bold;
}
a.attachment .filesize {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: .6;
  font-size: 80%;
  white-space: nowrap;
}
/* attachment end */
/* image start*/
.story_image_container {
  text-align: center;
}
.story_image_container > .story_image {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.story_image_caption {
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  color: #999;
  padding: 10px;
}
.story_image_blank_caption {
  border-bottom: 0px;
}
.story_image > img {
  border-radius: 0.3125em;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
}
.story_inline_image > img {
  vertical-align: bottom;
}
/* image end*/
.story_remote_resource_block {
  text-align: center;
}
/* task list start */
.task-list-item {
  list-style: none;
}
.task-list-item.li_list_style {
  list-style: inherit;
}
.task-list-item > input {
  margin: 0 0 0 -20px;
}
/* task list end */
/*code chunk video, slideshare start*/
.video_container {
  width: 100%;
  display: table;
  text-align: center;
  position: relative;
  padding-bottom: 56.25%!important;
}
.video_container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  vertical-align: middle;
}
.slideshare_container .inner {
  position: relative;
  width: 100%;
}
.slideshare_container .inner iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*code chunk video, slideshare start*/
/*mermaid start*/
.mermaid {
  text-align: center;
}
.mermaid_svg {
  font-family: monospace;
}
/*mermaid stop*/
/* patch evernote start*/
.toc ul {
  list-style-type: none;
}
/* patch evernote end*/
/* other start */
em.cjk_emphasis {
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, "楷体", "AR PL UKai CN", "NSimSun", "Songti SC", "SimSun", serif !important;
}
.flow-chart,
.sequence-diagram {
  text-align: center;
}
.plot,
.plot-image {
  text-align: center;
  min-height: 200px;
  min-width: 200px;
}
.story_align_left,
.story_align_left .story_image_container {
  text-align: left;
}
.story_align_right,
.story_align_right .story_image_container {
  text-align: right;
}
.story_align_center,
.story_align_center .story_image_container {
  text-align: center;
}
.story_align_justify,
.story_align_justify .story_image_container {
  text-align: justify;
}
.mathjax-container {
  text-align: center;
}
div.mathjax {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
}


/* road bike use*/

.mindmap_container {
    margin-left: calc(-100vw / 2 + 100% / 2 + 8rem);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: calc(100vw - 16.8rem);
}
