name: Sculpting Action Publish

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/checkout@v1
        with:
          repository: suziwen/suziwen.github.io
          ref: refs/heads/main
          fetch-depth: 1
          path: 'public'
      - uses: actions/setup-node@v1
        with:
          node-version: '12.16.1'
      - uses: suziwen/gatsby-gh-pages-action@v2.2.2
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          deploy-branch: main
          deploy-repo: suziwen.github.io
